@media(prefers-color-scheme:normal){:root{color-scheme:light;}}
@media(prefers-color-scheme:dark){:root{color-scheme:dark;}}
html { font-family: monospace; }
#slot-canvas { text-align: center; }
#audio-player { width: 100%; }
